
@import url(https://fonts.googleapis.com/css?family=Open+Sans);




body {
    margin: 0;
    font-family: "Open Sans",  Impact;
}

.mainWrapper {
    
    max-width: 100%;
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(5, minmax(auto ,max-content)); */
    grid-template-rows: repeat(5, auto);
     
}

.promo {
    position: relative;
    
    max-width: 1200px;
    height: auto;

    margin: 0 auto;
    
    
}
.promo-video {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
    
    
		&__media {
            position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        min-height: 100%;
        transform: translate(-50%,-50%);
		}
}

.promo-container {
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    overflow: hidden;
    /* position: absolute; */
    top: 0;
    left: 0;
    opacity: 1;
    padding: 0;

}
.promo-wrapper {
    position: relative;
    margin: 0 auto;
    
    height: auto;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "header header"
    "photo descript"
    "button button";
    grid-template-rows: 2fr 7fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    
    @media (max-width: 625px) {
    /* grid-template-rows: 2fr 4fr 6fr 1fr; */
    grid-template-rows: 
    minmax(50px, 100px) 
    minmax(200px, 500px) 
    minmax(200px, 2fr)
    minmax(50px, 70px);

    grid-template-columns: 1fr ;
    grid-template-areas: 
    "header"
    "photo" 
    "descript"
    "button";
    overflow: visible;
  }
   img {
    max-width: 100%;
   }
  
    

		// .promo-wrapper__title

		&__title {
            grid-area: header;
            margin: 0 auto;
            h1 {
                font-family: 'Rubik One', sans-serif;
                font-size: 50px;
                text-transform: uppercase;
                background: linear-gradient(45deg, #20d62f9f 33%, #b83131ea 66%, #e2e4e5);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #0B2349;
                display: table;
                margin: 0 auto;
                overflow:hidden;
            }
		}

		// .promo-wrapper__photo

		&__photo {
            grid-area: photo;
            display: grid;
            justify-content: center;
            align-items: center;
           
               
            img {
                object-fit: contain;
               
                
                max-width: 100%;

            }
		}

		// .promo-wrapper__descript

		&__descript {
            
            grid-area: descript;

            
		}

        &__button {
            
            margin: 10px auto;
            grid-area: button;
            border: 0px;
            width: 200px;
            color: #444;
            font: bold 16px arial;
            background: #e4e4e4;
            border: 1px solid transparent; /* граница будущего градента */
            border-radius: 3px;
            padding: 8px 12px;
            text-decoration: none;
            text-shadow: 0 1px 1px rgba(255,255,255,0.75);
            box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 3px 6px -3px rgba(0,0,0,0.25);

            &:hover {
                background: #918585;
            }

            

            
		}
}







.structure { 
    padding: 50px 0;
    max-width: 1200px;
    height: auto;

    background: #eb01a5;
  
  background-image: linear-gradient(-45deg,#ccd5f0, #2052dd); /* W3C */

    
    
   /*  overflow: hidden; */
    margin: 0 auto;
    text-align: center;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-areas: 
    "left image right"
    "left image right"
    "left image right"
    "button button button";
    grid-template-columns: repeat(3, minmax(50px, 400px));

    @media (max-width: 625px) {
        
      

        grid-template-columns: repeat(2, minmax(50px, 400px));

        grid-template-areas: 
    "left  right"
    "left  right"
    "left  right"
    "button  button";
        
      }

      p {
          padding: 5px;
          margin: 7px;
          border: 5px solid rgb(77, 17, 17);
      }
       img {
           
        max-width: 100%;
       
        border-radius: 50%;
        object-fit: cover;
       }

     

}
.label-struct {
    border: 8px solid rgb(107, 146, 182)
}
.structure-left {
    grid-area: left;
    display: grid;
    grid-gap: 10px;
    
}
.structure-left-top {
}
.structure-left-mid {
}
.structure-left-bot {
}
.structure-image {
    grid-area: image; 
    display: grid;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    
     

     @media (max-width: 625px) {
        
        display: none;
        
      }

}
.structure-right {
    grid-area: right;
    display: grid;
    grid-gap: 10px;
}
.structure-right-top {
}
.structure-right-mid {
}
.structure-right-bot {
}
.structure-button {
    grid-area: button;
    margin: 0 auto;
    width: 200px;
    height: 50px;
}

.feedback {
    min-width: 0;
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    background-image: linear-gradient( 60deg, rgb(59, 172, 74), rgb(209, 212, 35) );
}
.carousel  {
   
    position: relative;
    display: grid;
    grid-gap: 15px;
    
    grid-template-columns: repeat (3 minmax(50px auto) );
    
    img {
        max-width: 100%;
       }

    
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
    }
    .slick-arrow.slick-prev {
        left: 0;
    }
    .slick-arrow.slick-next {
        left: 100%;
    }

    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    } 
    .slick-dots li{
        list-style: none;
    } /* Активная точка */
    
      .slick-dots li button{
          font-size: 0;
          width: 30px;
          height: 30px;
          border-radius: 50%;
      }
}

.carousel-item {
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    
    img{
        height: 400px;
        max-width: 100%;
        border: 10px solid rgb(161, 31, 81);
        padding: 15px;

        @media (max-width:510px) {
            border: none;
            
        }
    }
    h1 {
        padding: 15px;
        border: 10px solid rgb(161, 31, 81)
    }
    p {
        padding: 15px;
        border: 10px solid rgb(161, 31, 81)
    }

}



.slick-list {
    overflow: hidden;
} /* Лента слайдов */ 
.slick-track{
    display: flex;
}

   

.prod-promo {
    background-image: linear-gradient(156deg, rgb(126, 27, 139), rgb(165, 23, 23));
    display: grid;
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "photo descript"
    "character character"
    "button button";


    // .prod-promo__photo

    &__photo {
        img {
            max-width: 100%;
        }
        grid-area: photo ;

    }

    // .prod-promo__descript

    &__descript {
        grid-area: descript ;
    }

    // .prod-promo__character

    &__character {
        grid-area: character;
        ul {
            list-style-type: circle;
        }
        li {
            list-style-type: circle;
            display: inline;
        }
    }
    &__button {
        grid-area: button;
        width: 200px;
        height: 50px;
        margin: 0 auto;

    }
}



.form-order {
    background-image: linear-gradient(314deg, rgb(224, 53, 31), rgb(8, 51, 17));
    display: grid;
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(100px, 600px));
    grid-template-areas: 
    "title title"
    "timer timer"
    "info form"
    "info form";

    @media (max-width: 650px) {
        
        grid-template-columns: minmax(100px, 650px);
        grid-template-areas: 
        "title"
        "timer"
        "info"
        "form";

        
      }
    

    // .form-order__title

    &__title {
        grid-area:title ;
    }

    // .form-order__timer

    &__timer {
        grid-area: timer;
        font-size: 30px;
        padding: 0 0 15px 0;
    }

    // .form-order__info

    &__info {
        grid-area:info ;
    }

    &__form {
        grid-area:form ;
        /* margin: 0 auto; */
        line-height: 2;
        font-size: 30px;
    }

}
.info {

    // .info__photo

    &__photo {
        
        img {
            padding: 10px;
            max-width: 100%;
            border: 10px solid transparent;
            border-image: linear-gradient(#0B0E7F , #0B95DD);
            border-image-slice: 1;
            margin: 0 0 15px 0;

        }
    }

    // .info__price

    &__price {
       
        
    }
}
.old {
    font-size: 30px;
    font-weight: bold;

   
    
}

del {
    position: relative;
    text-decoration: none;
}
del:before {
    content: "";
    width: 100%;
    height: 0.15em;
    background: #e60f00;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-25deg);
}


.new {
        display: inline-block;
        padding: 10px;
        border: 15px solid transparent;
        border-image: linear-gradient(#0df320 , #0bdd16);
        border-image-slice: 1;
    
        text-align: center;
        font-size: 3em;
        color: #fff;
        letter-spacing: -7px;
        font-weight: 700;
        text-transform: uppercase;
        animation: blur .75s ease-out infinite;
        text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
        margin: 0;
     
      
      @keyframes blur {
        from {
          text-shadow:0px 0px 10px #fff,
            0px 0px 10px #fff, 
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #7B96B8,
            0px 0px 150px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px -10px 100px #7B96B8,
            0px -10px 100px #7B96B8;
        }
      }
      
}




.input  {
    margin: 0 auto;
    height: 70px;
    width: 350px;
    font-size: 28px;
    
}

input {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* .form-order-name {
    position: relative;
} */




label {
    max-width: 100%;
    display: grid;
    padding-top: 20px;
    font-size: 28px;
    margin: 0 auto;
  }

.label-text {
    

    

    color: rgb(146, 146, 135);
    opacity: 0.25;
}

label .label-text {
    transform: translate(-200%,-68px);

    @media (max-width: 650px) {
        transform: translate(-200%,-68px);

      }
    
  }
label input:focus + .label-text {
    transform: translate(70px,-90px);

    @media (max-width: 650px) {
        transform: translate(70px,-90px);

      }
  }
 




.btn-form {
    margin: 15px 0 0 0;
    width: 200px;
    height: 50px;
}

::placeholder {
    opacity: 0.2;
}




